@import "partials/_normalize";
@import "partials/calendar";
@import "partials/header";
@import "partials/mainpage";
@import "partials/navigation";
@import "partials/searchbar";
@import "partials/searchpage";
@import "partials/showcards";


body { 
	background-color: papayawhip;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
