.aside__content {
  width: 16rem;
  min-width: 256px;
  background-color: #fff;
  position: fixed;
  height: 100%;
  z-index: 100;
  transition: all 0.45s ease-in;
}

.main__content {
  width:calc(100% - 16rem);
  height: 100%;
  margin-left: 16rem;
  position: relative;
  transition: all 0.45s ease-in;
}

.full__width {
	width: 100%;
	margin: 0;
}

.mainpage__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.introduction__container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding-left: 4rem;
	padding-right: 4rem;
	padding-top: 1rem;
	padding-bottom: 2.75rem;
	background-color: $primary-color;
	border-radius: 4px;
	transition: all 0.3s ease-in;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.intro__slideUp {
	transform: translate3d(-50%,-200%,0);
	opacity: 0;
}

.introduction__container form {
	text-align: center;
}

.intro__container {
	z-index: 100;
	margin-top: 4rem;
}

.intro__container h1 {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	font-size: 4.5rem;
	letter-spacing: 2px;
	margin: 0;
	padding-bottom: 1.5rem;
}

.intro__container p {
	color: $primary-color;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 1.8rem;
	text-align: center;
	margin: 0;
	margin-bottom: 4.5rem;
}

.intro__container span {
	color: $accent-color;
	font-weight: 600;
}

@media (max-width: 1100px) {

	.intro__container h1 {
		font-size: 3.5rem;
	}

	.intro__container p {
		font-size: 2rem;
	}
}

@media (max-width: 426px) {

	.intro__container {
		width: 100%;
		height: 100%;
	}
	.intro__container h1 {
		letter-spacing: 0.8px;
		font-size: 2rem;
	}

	.intro__container p {
		font-size: 1.2rem;
	}

	.intro__container span {
		font-size: 1.2rem;
	}
}

@media (max-height: 850px) {
	.intro__container h1 {
		font-size: 2.75rem;
	}

	.intro__container p {
		font-size: 1.5rem;
	}

	.intro__container span {
		font-size: 1.5rem;
	}
}