.navbar {
  display: flex;
  flex-direction: column;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding-top: 13.5%;
}

.nav__user--image {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
