nav {
	display: flex;
	flex-direction: column;
	height: 100%;
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14),
	              0 3px 14px 2px rgba(0, 0, 0, .12),
	              0 5px 5px -3px rgba(0, 0, 0, .4);	
}

.fadeOutLeft {
	transition: all 0.45s ease-in;
	transform: translate3d(-100%, 0, 0);
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 300;
  font-family: 'Dosis', sans-serif;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 300;
  font-size: 1.1rem;
  padding-left: 1.5rem;
  outline: none;
  &:hover {
  	background-color: $primary-color-light;
  	border-right:3px solid $accent-color;
  	transition: all 0.2s;
  }
}

$line-width: 30px;
$line-height: 3.5px;
$line-space: 12px;

.menu {
  position: absolute;
   top: 25%; left: 0; bottom: 0; right: 0;
   margin-left: 1.5rem;
  width: 200px;
  height: ($line-height * 3) + (2* ($line-space - $line-height));
  cursor: hand;
  
  &__line, &__line:before, &__line:after {
    position: absolute;
     top: 0;  bottom: 0; left: 0;
     margin: auto;
    margin: 0 auto;
    content: '';
    width: $line-width;
    height: $line-height;
    background-color: #fff;
    transform: rotate(0deg) scale(1);
  }
  &__line:before {
    top: -$line-space;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  &__line:after {
    top: $line-space;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  &__line {
    margin-top: $line-space;
    
    &Animate {
      &:before {
        top: 0;
        height: $line-height * 1.25;
        transform: rotate(-45deg) scale(0.75);
        transform-origin: top left;
        transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      &:after {
        top: 0;
        height: $line-height * 1.25;
        transform: rotate(45deg) scale(0.75);
        transform-origin: top left;
        transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
  }
}

.navbar div {
	text-align: center;
	padding-top: 1.5rem;
	margin-bottom: 0.5rem;
}

.navbar div h3 {
	margin: 0;
	font-size: 1.5rem;
	margin-top: 1rem;
	font-weight: 300;
	color: #212121;
}

.navbar div p {
	border-bottom: 1px solid rgba(0,0,0,0.12);
	padding-bottom: 1.5rem;
	font-size: 1.15rem;
}

.nav__user--image {
  height: 4.5rem;
  width: 4.5rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
              0 1px 5px 0 rgba(0, 0, 0, .12),
              0 3px 1px -2px rgba(0, 0, 0, .2);
  border-radius: 50%;
}

.logo {
	height: 4rem;
	width: 100%;
	text-align: center;
	position: relative;
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,.12);
	transition: all 0.2s ease-in;
	&:hover {
		background-color: $accent-color;
	}
}

.logo img {
	height: 45px;
	width: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}

.logo h2 {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50%);
	font-weight: 100;
	font-family: 'Montserrat', sans-serif;
	color: #212121;
	margin: 0;
}

.notification {
	background-color: $accent-color;
	border-radius: 50%;
	display: inline-block;
	height: 24px;
	width: 24px;
	text-align: center;
	font-size: 1rem;
	line-height: 24px;
	position: absolute;
	right: 0;
	margin-right: 1rem;
	color: #fff;
}

.footer {
	font-weight: 300;
	position: absolute;
	bottom: 0;
	padding-left: 1.5rem;
	height: 5rem;
	background-color: $primary-color;
	color: #fff;
	width: 100%;
	padding-top: 0.75rem;
}

.nav__buttons button {
	background-color: $accent-color;
	border: none;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 0.875rem;
	color: #fff;
	height: 2.25rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 2px;
	position: absolute;
	width: 100%;
	bottom: 0%;
	margin-bottom: 5rem;
	transition: all 0.15s ease-in;
	&:hover {
		background-color: #000;
	}
}

@media (max-height: 560px) {
	.navbar div{
		display: none;
	}
}