.searchbar__form {
	position: relative;
	width: 100%;
}

.searchbar__form input {
	font-size: 1.125rem;
	padding: 10px 10px 10px 5px;
	display: block;
	border: none;
	width: 100%;
	background: none;
	border-bottom: 1px solid #fff;
	transition: all 0.2s ease-in;
}

.searchbar__form input::placeholder {
	color: #fff;
}

.searchbar__form input:focus {
	outline: none;
}

.searchbar__form input[type=text] {
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}