.usercatalogue__container {
	margin-top: 4rem;
}

.usercatalogue__container h1{
	font-family: 'Dosis', sans-serif;
	color: #757575;
	line-height: 3rem;
	font-size: 2rem;
	font-weight: 500;
	margin: 0 auto;
	padding-left: 2.3rem;
	padding-top: 2rem;
}

.usercatalogue__noshows {
	text-align: center;
	padding-top: 10rem;
	font-size: 1.8rem;
}